body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../pictures/bear-and-bull.jpg');
  background-size: cover;
  background-position: center;
  display: grid;
}

header {
  text-align: center;
  height: 75px;
  margin-top: 10px;
  color: #faba0a;
  filter: drop-shadow(3px 3px black);
}

header h1 {
    margin: 0;
    font-size: 60px;
    /*background-color: #d6b882;*/
}

.my-button {
    display: block;
    margin: auto;
    margin-top: 30px;
  }

  .btn {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #d6b882;
    font-size: 50px;
  }

  button:active {
    background-color: #d6af67;
  }

ul {
  padding: 0;
}

li {
  margin: 10px;
  font-size: 27px;
}

.fact-box {
  width: 31%;
  text-decoration: underline;
}

#bull {
  float: left;
  text-align: center;
  margin-left: 50px;
  background-color: #559c7c99;
  border-radius: 12px;
}

#bear {
  float: right;
  text-align: center;
  margin-right: 50px;
  background-color: #d34d3099;
  border-radius: 12px;
}

footer {
  text-align: center;
  /*color: #d6b882;*/
  color: white;
  margin: 0;
  border-radius: 12px;
}

#margin-set {
  margin-top: 29px;
}

h2 {
  font-size: 10px;
  margin: 0;
} /*the only h2 in the html is the footer. this makes it very small*/

#bear-change {
  font-size: 4.1rem;
  margin-top: 29px;
} /* Changes font size for h1 for the bear facts*/


.button-49 {
  margin-top: 50px;
}

.button-49,
.button-49:after {
  width: 450px;
  height: 262px;
  line-height: 110x;
  font-size: 58px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #d34d30 5%, transparent 280%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'WARNING WARNING WARNING WARNING';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #d34d30 3%, #00E6F6 5%, #559c7c 5%);
  text-shadow: -3px -3px 0px #d34d30, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/*@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}*/

.bdr-btm {
  border-bottom: black solid 1px;
}