.stock-chart {
    width: 50%;
    text-align: center;
    text-decoration: underline;
    margin-top: 60px;
}

.s {
    font-size: 35px;
    margin-top: 30px;
}

.stock-box {
    justify-content: center;
    width: 40%;
    height: auto;
}



